.app__bg {
  background: url('./assets/bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}

.section__padding {
  padding: 100px 60px;
}


.h1__style {
  font-family: Cormorant Upright;
  font-size: 64px;
  font-weight: 600;
  line-height: 83.2px;
  letter-spacing: 0.03em;
  color: #DCCA87;
}

.h1__title {
  font-family: Cormorant Upright;
  font-size: 90px;
  font-weight: 700;
  line-height: 117px;
  letter-spacing: 0.04em;
  color: #DCCA87;
}

.p__OpenSans {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.04em;
  color: #AAAAAA;
}

.p__Comorant {
  font-family: Cormorant Upright;
  font-size: 23px;
  font-weight: 700;
  line-height: 29.9px;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}

.button__style {
  padding: 8px 32px 8px 32px;
  font-family: Cormorant Upright;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.04em;
  color: #0C0B08;
  background: #DCCA87;
  border: none;
  outline: none;
}


.h4__style {
  font-family: Cormorant Upright;
  font-size: 23px;
  font-weight: 700;
  line-height: 29.9px;
  letter-spacing: 0.04em;
  color: #DCCA87
}